@charset "UTF-8";

body{
    background-color: lightgoldenrodyellow;
    font-family: arial;
    font-size: 20px;
}
h1{
    color: maroon;
    background-color: darkgoldenrod;
}
h2{
    color: rgb(126, 41, 41);
}
p{
    text-align: justify;
}